# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

venv/
html_lesson_plan/
html_syllabus/
output_json/
json_syllabus/
json_lesson_plan/